body {
    margin: 0;
    background-color: rgb(248, 242, 255);
}

h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 80px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    color: rgb(83, 65, 103);
}

h2 {
    font-family: Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0;
}

header {
    background-image: url('../PURPLE.jpg');
    background-position: center;
    background-size: cover;
    padding: 60px 0;
    margin: 0;
    box-shadow: 2px 4px 18px rgba(94, 80, 95, 0.2);
}

.portfolio-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px 94px;
    padding: 55px 109px 40px 109px;
    list-style: none;
}

.portfolio img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.portfolio img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 15px  rgba(94, 80, 95, 0.4);
}

.portfolio h3{
    font-family: Verdana, sans-serif;
    color: rgb(83, 65, 103);
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}

.portfolio p {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: rgb(120, 102, 130);
    margin-top: 0;
    line-height: 1.4;
}
footer p{
    text-align: center;
    padding: -15px 10px;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

@media (max-width: 1024px) {
    .portfolio-list {
        grid-template-columns: 1fr;
        gap: 50px 50px;
        padding: 40px 100px;
    }
}